<!doctype html>
<html>
    <head>
        <title>FantasyFRC</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Create a fantasy league with your friends
        for the FIRST Robotics Competition.">
        <meta name="author" content="Stephanie Morrison">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{static '/vendor/bootstrap/css/bootstrap.min.css'}}">
        <link href="{{static '/css/main.css'}}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{static '/vendor/bootstrap/css/modern-business.css'}}" rel="stylesheet">


        <!-- Custom Fonts -->
 <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="FantasyFRC" height="70px" style="transform:translateY(-20px)"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/league">League</a>
                            </li>
                            <li>
                                <a href="/matchups">Matchups</a>
                            </li>
                            <li>
                                <a href="/statistics">Statistics</a>
                            </li>
                            <li>
                                <a href="/rules">Rules</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href = "{{link}}">{{status}}</a>
                    </li>
                    <li>
                        <a href="/submitBugReport">Bug Report</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>    <!-- END OF NAV -->

<!--
        <header><img src="/img/logo.png" alt="FantasyFRC Logo"></header>
-->
    {{{body}}}
    <!-- /.container -->
    <div class="container-fluid">


        <!-- Footer -->
        <footer align="center">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; GameSense 2015</p>
                </div>
            </div>
        </footer>
    </div>





        <!-- jQuery -->
        <script src="{{static '/vendor/bootstrap/js/jquery.js'}}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{static '/vendor/bootstrap/js/bootstrap.min.js'}}"></script>
    </body>
</html>